INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=your_influx_api_token_here
INFLUX_ORG=your_organization_name
INFLUX_BUCKET=iot_data
PORT=3001
MQTT_BROKER_URL=mqtts://eu1.cloud.thethings.network:8883
MQTT_USERNAME=your_ttn_username@ttn
MQTT_PASSWORD=your_ttn_api_key_here
MQTT_FAN_TOPIC=v3/your_app_id@ttn/devices/your_device_id/down/push
MQTT_UPLINK_TOPIC=v3/your_app_id@ttn/devices/your_device_id/up
